<link
  href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>

<div class="container" style="margin-top: 30px">
  <br />

  <h1 style="color: rgb(255, 255, 255);">Locais</h1>
  <div align="end"><a id:link href="http://localhost:4200/perfil">{{currentUser.userName}}</a>
  </div>
  <div align="end" (click)="logout()">
    <a id:link href="http://localhost:4200/login">Logout</a>
  </div>
  <div align="end">
    <a id:link href="http://localhost:4200/menu">Voltar para o menu</a>
  </div>
  <div *ngFor="let local of locals">
    <div *ngIf = "local.verifica==true">
      <div class="container" style="margin-top: 30px">
        <div class="col-md-4">
          <div class="modal-dialog" style="margin-bottom: 0">
            <div class="modal-content">
              <div class="panel panel-default">
                <mat-list>
                  <mat-list-item *ngIf ="local.countdislike>local.countlike"
                    ><strong style="color: rgb(255, 0, 0);">Titulo do local :</strong> &nbsp;&nbsp;&nbsp;
                    {{ local.titulo }}
                  </mat-list-item>
                  <mat-list-item *ngIf ="local.countlike>local.countdislike"
                    ><strong style="color: rgb(0, 255, 21);">Titulo do local :</strong> &nbsp;&nbsp;&nbsp;
                    {{ local.titulo }}
                  </mat-list-item>
                  <mat-list-item *ngIf ="local.countlike==local.countdislike"
                    ><strong style="color: rgb(0, 0, 0);">Titulo do local :</strong> &nbsp;&nbsp;&nbsp;
                    {{ local.titulo }}
                  </mat-list-item>
                  <mat-list-item><strong> Descrição :</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{local.descricao}}</mat-list-item>
                  <mat-list-item><strong> Likes :</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{local.countlike}}</mat-list-item>
                  <mat-list-item><strong> Dislikes :</strong>&nbsp;&nbsp;&nbsp;&nbsp;{{local.countdislike}}</mat-list-item>
                </mat-list>&nbsp;&nbsp;
                <button mat-raised-button routerLink="//verlocal/{{local._id}}" id="btn1">Ver mais -></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
